<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunset.eduService.mapper.EduCourseMapper">
<!--    sql语句，根据课程id查询课程发布的基本信息-->
    <select id="getPublishCourseInfo" parameterType="string" resultType="com.sunset.eduService.entity.vo.CoursePublishVo">
         SELECT
             c.title,
             c.cover,
             c.lesson_num AS lessonNum,
             CONVERT(c.price, DECIMAL(8,2)) AS price,
             s1.title AS subjectLevelOne,
             s2.title AS subjectLevelTwo,
             t.name AS teacherName
             FROM
             edu_course c
             LEFT JOIN edu_teacher t ON c.teacher_id = t.id
             LEFT JOIN edu_subject s1 ON c.subject_parent_id = s1.id
             LEFT JOIN edu_subject s2 ON c.subject_id = s2.id
             WHERE
        c.id = #{id}
    </select>

    <!--    sql语句，根据课程id查询前端课程的基本信息-->
    <select id="getBaseCourseInfo" parameterType="string" resultType="com.sunset.eduService.entity.frontvo.CourseWebVo">
         SELECT
             c.id,
             c.title,
             CONVERT(c.price, DECIMAL(8,2)) AS price,
             c.cover,
             c.lesson_num AS lessonNum,
             c.buy_count AS buyCount,
             c.view_count AS viewCount,
             ecd.description,
             t.id AS teacherId,
             t.name AS teacherName,
             t.intro,
             t.avatar,
             s1.id AS subjectLevelOneId,
             s1.title AS subjectLevelOne,
             s2.id AS subjectLevelTwoId,
             s2.title AS subjectLevelTwo
             FROM
             edu_course c
             LEFT JOIN edu_course_description ecd ON c.id=ecd.id
             LEFT JOIN edu_teacher t ON c.teacher_id = t.id
             LEFT JOIN edu_subject s1 ON c.subject_parent_id = s1.id
             LEFT JOIN edu_subject s2 ON c.subject_id = s2.id
             WHERE
        c.id = #{id}
    </select>

</mapper>
